<% layout('layouts/boilerplate') %>

  <div class="container justify-content-center my-5 border border-3">
    <div class="row">
      <h1 class="text-center">Product Show Page (WIP)</h1>
      <img class="align-self-start" src="/assets/img/placeholder.png" alt="">
    </div>
  </div>