<% layout('layouts/boilerplate') %>

  <div class="container d-flex justify-content-center my-5 border border-3">
    <h1>Product Show Page</h1>
    <div class="col-md-3 border border-3 align-content-start">
      <img src="/assets/img/placeholder.png" alt="">
    </div>
    <div class="col-md-5 border border-3">
      <h1>Testing</h1>
    </div>
  </div>